body {
    background-color: greenyellow;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

h1 {
    color: darkblue;
    text-align: center;
}

p {
    font-size: 18px;
    line-height: 1.5;
    color: black;
}

